* {
  box-sizing: border-box;
  color: white;
}

h1 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  background-image: url('http://www.placecage.com/c/300/300');
  background-size: cover;
}

.hide {
  display: none !important;
}

i.fa {
  padding: 5px;
  &:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 3px;
  }
}

i.fa-plus-circle {
  float: right;
}

.addForm, .editForm {
  margin-top: 20px;
  border-bottom: 1px solid transparent !important;
}

textarea {
  resize: none;
}

.imgContainer {
  img {
    width: 100%;
  }
}

.content {
  position: relative;
  section {
    position: absolute;
    right: 10px;
    top: 0;
    i.fa-pencil-square-o {
      color: green;
      margin-right: 10px;
    }
    i.fa-trash-o {
      color: red;
    }
  }
  p {
    margin-top: 10px;
  }
}

.col-sm-12 {
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid white;
}

.container {
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: rgba(0,0,0,.8);
  border-radius: 3px;
}

.addFormContainer {
  padding: 10px;
}
