* {
  box-sizing: border-box; }

.hide {
  display: none !important; }

i.fa {
  padding: 5px; }
  i.fa:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 3px; }

i.fa-plus-circle {
  float: right; }

.addForm, .editForm {
  margin-top: 20px; }

textarea {
  resize: none; }

.content {
  position: relative;
  border-bottom: 1px solid black; }
  .content section {
    position: absolute;
    right: 10px;
    top: 0; }
    .content section i.fa-pencil-square-o {
      color: green;
      margin-right: 10px; }
    .content section i.fa-trash-o {
      color: red; }
  .content p {
    margin-top: 10px; }

.col-sm-12 {
  margin-bottom: 20px; }

.container {
  margin-bottom: 20px; }
